<%= image_tag('/images/profile_white.png'); %>

<%= form_for(profile) do |f| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, Profile.human_attribute_name(:name) %>
  <div class="field">
    <%= f.label :name, fa_icon('user-circle-o lg fw') %>
    <%= f.text_field :name, placeholder: Profile.human_attribute_name(:name) %>
  </div>

  <%= f.label :phone, Profile.human_attribute_name(:phone) %>
  <div class="field">
    <%= f.label :phone, fa_icon('phone lg fw') %>
    <%= f.text_field :phone, placeholder: Profile.human_attribute_name(:phone) %>
  </div>

  <%= f.label :programme_id, Profile.human_attribute_name(:programme) %>
  <div class="field">
    <%= f.label :programme_id, fa_icon('graduation-cap lg fw'), alt: 'Curso' %>
    <%= f.collection_select :programme_id, Programme.joins(:degree).order("degrees.order", :name), :id, :full_name %>
  </div>

  <%= f.button 'Gravar', class: 'button expanded' %>
<% end %>
