<% title @profile.name %>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<%= link_to fa_icon('pencil lg', text: 'Edit'), edit_my_profile_path, class: 'button' %>
<%= link_to fa_icon('user lg', text: @profile.name), my_path, class: 'button' %>
