<%= form_for(programme) do |f| %>
  <% if programme.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(programme.errors.count, "erro") %></h3>

      <ul>
      <% programme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :degree_id %>

  <div class="fields-horizontal">
    <div class="field">
      <%= f.text_field :name, placeholder: 'Nome' %>
    </div>

    <%= f.button fa_icon('save lg', text: (programme.new_record? ? 'Criar' : 'Gravar')), class: 'button' %>
  </div>
<% end %>
