<div class="menu">
<%= link_to fa_icon('level-up lg fw', text: @programme.degree.name), @programme.degree %>
</div>

<h1><%= title @programme.name %></h1>
<h3>Curso de <%= @programme.degree.name %></h3>

<%= render 'form', programme: @programme %>
