<div class="menu">
  <% if @programme.degree.blank? %>
    <%= link_to fa_icon('level-up lg fw', text: 'Graus Académicos'), Degree, class: 'button' %>
  <% else %>
    <%= link_to fa_icon('level-up lg fw', text: @programme.degree.name), @programme.degree, class: 'button' %>
  <% end %>
</div>

<h1><%= title 'Novo Curso' %></h1>

<%= render 'form', programme: @programme %>
