<div class="menu">
  <%= link_to fa_icon('list lg fw', text: 'Cursos'), @programme.degree, class: 'button' %>
</div>

<h1>
  <%= title @programme.name %>
  <small><%= link_to fa_icon('pencil'), edit_programme_path(@programme) %></small>
  <small><%= link_to fa_icon('trash'), @programme, method: :delete, class: 'alert', data: { confirm: 'Tem a certeza?' } %></small>
</h1>
<h2>Curso de <%= link_to @programme.degree.name, @programme.degree %></h2>
