<p>A proposta expirou,</p>
<p>daqui em diante poderá consultar os dados dos candidatos na plataforma.</p>

<p style="text-align: center"><%= link_to 'Oferta de Emprego', students_job_offers_url(@job_offer.random_id) %></p>
