<p>A proposta foi reprovada.</p>
<p>Caso a queira rever, entre em contacto com a organização.</p>

<p style="text-align: center"><%= link_to 'Oferta de Emprego', students_job_offers_url(@job_offer.random_id) %></p>
