<p>A proposta foi aprovado e será publicada.</p>
<p>Encontra-se assim disponível para acesso dos alunos interessados.</p>

<p style="text-align: center"><%= link_to 'Ver proposta', students_job_offers_url(@job_offer.random_id) %></p>
