<p>A proposta foi submetida com sucesso e aguarda aprovação.</p>
<p>A <%= ENV["APP_OWNER"] %> agradece em nome dos alunos o interesse demonstrado. Reconhecidos como alunos de excelência da maior escola de engenharia e, indubitavelmente, a referência de engenharia a nível nacional e internacional.</p>

<p style="text-align: center">
  <%= link_to 'Ver proposta', students_job_offers_url(@job_offer.random_id) %>
</p>
