<% title 'Dados de Acesso' %>

<%= image_tag('/images/profile_white.png'); %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, fa_icon("envelope fw lg") %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <span>Deixar em branco se não pretende alterar</span>
  <div class="field">
    <%= f.label :password, fa_icon("lock fw lg") %> 
    <% if @minimum_password_length %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Mínimo de #{@minimum_password_length} carateres" %>
    <% else %>
      <%= f.password_field :password, autocomplete: "off", placeholder: "" %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, fa_icon("lock fw lg") %>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: User.human_attribute_name(:password_confirmation) %>
  </div>

  <span>Precisamos da senha atual para confirmar as alterações</span>
  <div class="field">
    <%= f.label :current_password, fa_icon("key fw lg") %> 
    <%= f.password_field :current_password, autocomplete: "off", placeholder: User.human_attribute_name(:current_password) %>
  </div>

  <%= f.button "Atualizar", class: 'button' %>
<% end %>

<h4>Eliminar Conta</h4>
<p>Não pretente usar mais o <%= Setting.find_by(name: "Nome").value %>?</p>
<%= button_to registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button alert' do %>
  Eliminar
<% end %>
