<% title 'Registar' %>

<%= image_tag('/images/profile_white.png'); %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, fa_icon("envelope lg fw") %>
    <%= f.email_field :email, autofocus: true, placeholder: :email %>
  </div>

  <% if @minimum_password_length %>
    <span>(mínimo de <%= @minimum_password_length %> caratéres)</span>
  <% end %>
  <div class="field">
    <%= f.label :password, fa_icon("lock lg fw") %>
    <%= f.password_field :password, autocomplete: "off", placeholder: :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, fa_icon("lock lg fw") %>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirmar senha' %>
  </div>

  <div class="field accept">
    <div class="select">
      <%= check_box_tag :accept %>
    </div>
    <%= label_tag :accept, "Aceito que os meus dados fiquem registados no portal de emprego #{ENV['APP_NAME']}, podendo ser disponibilizados a empresas terceiras aquando da submissão de uma candidatura" %>
  </div>
  <%= f.button "Registar", class: 'button' %>
<% end %>
