.overflow {
  max-height: 100%;
  overflow-y: auto;
}

@mixin transition($property, $duration, $timing-function: linear, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
  transition-delay: $delay;
}

@mixin text-shadow($amount: 3) {
  $text-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  @if $amount == 2 {
    $text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if $amount == 3 {
    $text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } @else if $amount == 4 {
    $text-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if $amount == 5 {
    $text-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
  text-shadow: $text-shadow;
  -moz-text-shadow: $text-shadow;
  -webkit-text-shadow: $text-shadow;
}

@mixin box-shadow($amount: 3) {
  $box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  @if $amount == 2 {
    $box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  } @else if $amount == 3 {
    $box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  } @else if $amount == 4 {
    $box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  } @else if $amount == 5 {
    $box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  }
  box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  -webkit-box-shadow: $box-shadow;
}

@mixin placeholder-color($color) {
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $color;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $color;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $color;
  }
}

@mixin linear-background($color1, $color2, $angle: 180deg) {
  background: -webkit-linear-gradient($angle, $color1, $color2);
  background: -o-linear-gradient($angle, $color1, $color2);
  background: -moz-linear-gradient($angle, $color1, $color2);
  background: linear-gradient($angle, $color1, $color2);
}

@mixin simple-linear-gradient($color1, $color2, $angle: 180deg) {
  background: -webkit-linear-gradient($angle, $color1, $color2);
  background: -o-linear-gradient($angle, $color1, $color2);
  background: -moz-linear-gradient($angle, $color1, $color2);
  background: linear-gradient($angle, $color1, $color2);
}

@mixin material-linear-gradient($color-string, $tone1, $tone2, $angle) {
  $color1: material-color($color-string, $tone1);
  $color2: material-color($color-string, $tone2);
  @include simple-linear-gradient($color1, $color2, $angle);
}
