<div class="menu">
  <% if @user.has_role? :admin %>
    <%= link_to fa_icon('level-up lg fw', text: 'Administradores'), users_path(role: 'admin') %>
  <% elsif @user.has_role? :student %>
    <%= link_to fa_icon('level-up lg fw', text: 'Estudantes'), User %>
  <% else %>
    <%= link_to fa_icon('level-up lg fw', text: 'Utilizadores'), User %>
  <% end %>
</div>

<div id="user">
  <h2>
    <%= title @user.name %>
    <small>
      <%= link_to 'Eliminar', @user, method: :delete, class: 'alert', data: { confirm: 'Tem a certeza?' } %>
    </small>
  </h2>

  <%= content_tag(:div, @user.profile_qr.as_svg(class: 'sdsds').html_safe, class: 'user-qr') %>

  <% if @user.has_role? :student %>
    <% if !@user.profile.blank? %>

      <div class="profile-details">
        <span><strong>Telefone:</strong> <%= @user.profile.phone %></span>
        <span><strong>Curso:</strong> [<%= @user.profile.degree %>] <%= @user.profile.programme.name %></span>
        <span><% link_to fa_icon('pencil fw', text: 'Alterar dados pessoais'), edit_user_path(@user) %></span>
      </div>
    <% end %>

    <% unless @user.profile.curriculum.blank? %>
      <object data="<%= @user.profile.curriculum.url %>" type="application/pdf" width="100%" height="800px">
         <p><b>Example fallback content</b>: This browser does not support PDFs. Please download the PDF to view it: <a href="/pdf/sample-3pp.pdf">Download PDF</a>.</p>
      </object>

      <div class="menu">
        <%= link_to fa_icon('trash lg', text: 'Eliminar Curriculum'), delete_curriculum_path(@user.profile), method: :delete, class: 'button alert', data: { confirm: 'Tem a certeza?' } %>
      </div>
    <% end %>

    <div class="menu">
      <%= button_to profile_review_path(@user.profile), class: "button #{'success' if @user.profile.reviewed}", method: :patch do %>
        <div class="<%= 'hide' if @user.profile.reviewed %>">
          <%= fa_icon('check lg') %> Aprovar Perfil
        </div>
        <div class="<%= 'hide' unless @user.profile.reviewed %>">
          <%= fa_icon('times lg') %> Marcar para revisão
        </div>
      <% end %>
      <% if @user.complete? %>
        <%= button_to incomplete_profile_path(@user.profile), class: "button #{'success' if @user.profile.reviewed}", method: :patch do %>
          <div>
            <%= fa_icon('times lg') %> Marcar como incompleto
          </div>
        <% end %>
      <% end %>
    </div>

  <% end %>
</div>
