<div class="menu">
  <%= active_link_to fa_icon('graduation-cap lg fw', text: 'Estudantes'), User, active: @role == 'student' %>
  <%= active_link_to fa_icon('user lg fw', text: 'Administradores'), users_path(role: :admin), active: {role: :admin} %>
</div>

<h1><%= title 'Utilizadores' %></h1>

<% if @role == 'student' %>
  <div class="filters">
    <%= active_link_to 'Todos', User, active: @filter == 'all' %>
    <%= active_link_to 'Aprovados', users_path(filter: :approved, order: params[:order]), active: {filter: :approved} %>
    <%= active_link_to 'Por Aprovar', users_path(filter: :approve, order: params[:order]), active: {filter: :approve} %>
    <%= active_link_to 'Incompletos', users_path(filter: :incomplete, order: params[:order]), active: {filter: :incomplete} %>
  </div>
<% end %>

<table>
  <thead>
    <tr>
      <% if @role == 'student' %>
        <th><%= link_to "Revisto", users_path(order: 'reviewed', role: params[:role], filter: params[:filter]) %></th>
        <th><%= link_to "Nome", users_path(order: 'name', role: params[:role], filter: params[:filter]) %></th>
      <% end %>
      <th><%= link_to "Email", users_path(order: 'email', role: params[:role], filter: params[:filter]) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
        <tr<%= " class=alert" if user.incomplete? %>>
        <% if @role == 'student' %>
          <td class="text-center">
            <%=  user.profile.reviewed ? fa_icon("check 2x") : fa_icon("times 2x") %>
          </td>
          <td><%= user.name %></td>
        <% end %>
        <td><%= link_to user.email, user %></td>
        <td class='text-center'><%= link_to fa_icon('trash 2x'), user, method: :delete, class: 'alert', data: { confirm: 'Tem a certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
