<h1><%= title 'Códigos' %></h1>

<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.random_string %></td>
        <td><%= user.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
