<% title @user.name %>

<div class="col" id="user-profile">
  <% if can? :manage, User %>
    <%= link_to 'Perfil', profile_path(@user.profile) unless @user.profile.blank? %>
  <% else can? :manage, @user %>
    <% if !@profile.blank? %>
      <h2><%= @profile.name %></h2>

      <%= content_tag(:div, @user.profile_qr.as_svg(class: 'sdsds').html_safe, class: 'user-qr') %>
      
      <% if can? :manage, @user %>
        <%= link_to 'Transferir QR', my_qr_path, target: :_blank, class: 'text-center' %>

        <h4>Código: <%= @profile.user.random_string %></h4>

        <h5>Curriculum Vitae</h5>
        <div id="curriculum-upload">
          <%= link_to fa_icon('file-pdf-o 5x'), @profile.curriculum.url, target: '_blank', id: 'curriculum-url', class: @profile.curriculum? ? '' : 'missing' %>

          <%= form_for @profile, html: {id: 'curriculum-upload-form'} do |f| %>
            <span class='button' id="curriculum-upload-button">Upload</br>(Arrastar ficheiro para aqui)</span>
          <% end %>

          <%= form_for @profile do |f| %>
            <%= f.hidden_field :curriculum, value: nil %>
            <% if @profile.curriculum? %>
              <%= f.button fa_icon('trash 3x'), class: 'curriculum-destroy alert button' %>
            <% else %>
              <%= f.button fa_icon('trash 3x'), class: 'curriculum-destroy alert button hidden' %>
            <% end %>
          <% end %>
        </div>

        <div class="profile-details">
          <h5>Dados de <%= @profile.name %></h5>
          <span><strong>Telefone:</strong> <%= @profile.phone %></span>
          <span><strong>Curso:</strong> [<%= @profile.degree %>] <%= @profile.programme.name %></span>
          <span><%= link_to fa_icon('pencil fw', text: 'Alterar dados pessoais'), edit_my_profile_path %></span>
        </div>
      <% end %>
    <% end %>

    <% if can? :manage, @user %>
      <span><%= link_to fa_icon('lock fw', text: 'Alterar dados de acesso'), edit_registration_path(current_user) %></span>
      <span><%= link_to fa_icon('sign-out fw', text: 'Sair'), destroy_user_session_path, method: :delete, class: 'alert' %></span>
    <% end %>
  <% end %>
</div>
