<% title 'Esqueceu a sua senha?' %>

<%= image_tag('/images/profile_white.png'); %>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, fa_icon("user lg fw") %>
    <%= f.email_field :email, autofocus: true, placeholder: User.human_attribute_name(:email) %>
  </div>


  <%= f.button "Enviar Instruções", class: 'button expanded' %>
<% end %>
