<%= form_for(degree) do |f| %>
  <% if degree.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(degree.errors.count, "erro") %></h3>

      <ul>
      <% degree.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fields-horizontal">
    <div class="field">
      <%= f.text_field :name, placeholder: 'Nome', autofocus: true %>
    </div>

    <div class="field">
      <%= f.number_field :order, step: 1, min: 1, max: 10, placeholder: 'Posição' %>
    </div>

    <%= f.button fa_icon('save lg', text: (degree.new_record? ? 'Adicionar' : 'Gravar')), class: 'button' %>
  </div>

<% end %>
