<div class="menu">
  <%= link_to fa_icon('level-up lg fw', text: 'Graus Académicos'), Degree, class: 'button' %>
</div>

<h1><%= title "Editar #{@degree.name}" %></h1>

<%= render 'form', degree: @degree %>
