<h1><%= title 'Graus Académicos' %></h1>

<%= render 'form', degree: Degree.new %>

<table>
  <thead>
    <tr>
      <th>Grau Académico</th>
      <th>Ordem</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @degrees.each do |degree| %>
      <tr>
        <td><%= link_to degree.name, degree %></td>
        <td><%= degree.order %></td>
        <td class='text-right'>
          <%= link_to fa_icon('pencil fw'), edit_degree_path(degree) %>
          <%= link_to fa_icon('trash fw'), degree, method: :delete, class: 'alert', data: { confirm: 'Tem a certeza?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

