<% title @market.name %>

<% if false %>
  <div class="job-filters">
    <% @filters.each do |param, value| %>
      <div class="job-filter">
        <%= link_to fa_icon("times", text: value), root_path(search_params.except(param)) %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="job-content">
  <div id="companies-grid">
    <% @companies.each do |company| %>
      <%= render company %>
    <% end %>
  </div>

  <div id="jobmenu">
    <h4><%= fa_icon('sort-amount-desc fw') %><span class="show-for-medium">Ordenar</span></h4>
    <ul class="menu vertical">
      <li><%= link_to fa_icon('eye fw', text: 'Mais Vistos'), market_page_path(search_params(order: :views)), class: ('active' if params[:order].eql? 'views') %></li>
    </ul>

    <h4><%= fa_icon('filter fw') %><span class="show-for-medium">Filtrar</span></h4>
    <ul class="menu vertical">
      <li><%= link_to fa_icon('user fw', text: 'Minhas Empresas'), market_page_path(search_params(filter: :mine)), class: ('active' if params[:filter].eql? 'mine') %></li>
    </ul>
  </div>

</div>


<div class="job-offer-panel hide">
  <div class="card job-offer-show">
    <%= fa_icon('times-circle-o 3x', id: 'job-offer-close') %>
    <%= form_for @market.market_favorites.new do |f| %>
      <%= f.hidden_field :market_id %>
      <%= f.hidden_field :company_id, class: 'get-info', data: {src: 'id'} %>
      <div id='job-img-container'>
        <img id='job-img' data-src='logo'></img>
      </div>
      <div class="content">
        <h1><span class='get-info' data-src="name"></span></h1>
        <p><strong>Pais:</strong> <span class='get-info' data-src="country"></span></p>
        <p><strong>Cidade:</strong> <span class='get-info' data-src="city"></span></p>
        <p><strong>Web:</strong> <a class='get-info' target="_blank" data-src="website"></a></p>
        <div><div class='get-info' data-src="description"></div></div>
      </div>

      <% if current_user.has_role? :student %>
        <div class="button-container">
          <%= f.button 'Enviar Informações', class: 'button' %>
          <%= link_to 'Não Enviar Informações', '', class: 'button alert', method: :delete, id: 'job-offer-link' %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
