<%= link_to market_company_path(company), class: 'job-link', data: {id: company.id } do %>
  <div class="card job-offer">
    <div class="job-image">
      <%= image_tag company.logo.url(:medium) %>
    </div>

    <div class="content">
      <h3><%= company.name %></h3>
    </div>

    <div class='engagement'>
      <div class="stats">
        <%= fa_icon 'eye fw', text: company.profiles.count %>
      </div>

      <%-# if application.blank? %>
      <% if mh_is_company_favorite? @market, company %>
        <div class="job-remove-application">
          Remover CV
        </div>
      <% else %>
        <div class="job-add-application">
          Enviar CV
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<% if mh_is_company_favorite? @market, company %>
  <%= link_to(
    'Remover',
    mh_company_favorite(@market, company),
    class: 'button alert hide',
    method: :delete,
    id: "application#{company.id}",
    data: { confirm: 'Tem a certeza?' }
  )%>
<% end %>