<%= form_with(model: company, local: true, html: {id: 'company-form-logo'}) do |form| %>
  <%= form.file_field :logo %>
  <%= image_tag(company.logo.url(:medium), id: 'company-logo') %>
<% end %>

<%= form_with(model: company, local: true) do |form| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(company.errors.count, "erro") %></h4>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <% if company.nif_json %>
      <span><strong>nif.pt:</strong> <%= company.nif_json['title'] %></span>
    <% end %>
    <%= form.text_field :name, id: 'name' %>
  </div>

  <div class="field">
    <%= form.label :website %>
    <% if company.nif_json %>
      <span><strong>nif.pt:</strong> <%= company.nif_json['contacts']['website'] %></span>
    <% end %>
    <%= form.text_field :website, id: 'website', rows: 4 %>
  </div>

  <div class="field">
    <%= form.label :nif, 'NIF' %>
    <% if company.nif_json %>
      <span><strong>nif.pt:</strong> <%= company.nif_json['nif'] %></span>
    <% end %>
    <%= form.text_field :nif, id: 'nif' %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: 'country' %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <% if company.nif_json %>
      <span><strong>nif.pt:</strong> <%= company.nif_json['city'] %></span>
    <% end %>
    <%= form.text_field :city, id: 'city' %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <% if company.nif_json %>
      <span><strong>nif.pt:</strong> <%= company.nif_json['activity'] %></span>
    <% end %>
    <%= form.text_area :description, id: 'description', rows: 4 %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email, id: 'email' %>
  </div>

  <div class="actions">
    <%= form.button 'Gravar', class: 'button expanded' %>
  </div>
<% end %>