<div id="admin-page-menu">
    <%= link_to fa_icon('chevron-up 2x fw'), companies_path, class: 'button' %>
    <h1><%= title @company.name %></h1>
    <%= link_to fa_icon('plus 2x fw'), new_company_path, class: 'button' %>
</div>

<%= render 'form', company: @company %>