<div id="admin-page-menu">
  <h1><%= title 'Empresas' %></h1>
  <%= link_to fa_icon('qrcode lg fw'), companies_qr_path, class: 'button' %>
  <%= link_to fa_icon('plus lg fw'), new_company_path, class: 'button' %>
</div>

<table>
  <thead>
    <tr>
      <th><%= t 'attributes.name' %></th>
      <th><%= t 'attributes.city' %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= link_to company.name, edit_company_path(company) %></td>
        <td><%= company.city %></td>
        <td><%= link_to fa_icon('trash 2x fw'), company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'alert' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

