<div id="admin-page-menu">
    <%= link_to fa_icon('chevron-up 2x fw'), companies_path, class: 'button' %>
    <h1><%= title "Adicionar Empresa" %></h1>
</div>


<%= render 'form', company: @company %>