<div id="admin-page-menu">
  <h1><%= title 'Empresas' %></h1>
  <%= link_to fa_icon('list lg fw'), companies_path, class: 'button' %>
  <%= link_to fa_icon('plus lg fw'), new_company_path, class: 'button' %>
</div>

<% @companies.each do |company| %>
  <div class="text-center">
    <h3><%= company.name %></h3>
    <p>
      <%= company.profile_qr(params[:market_id]).as_svg().html_safe %>
    </p>
  </div>
<% end %>

