<div class="admin-content">
  <div id="company">
    <div id="company-images">
      <%= image_tag(@company.logo.url) %>
      <%= @company.profile_qr(params[:market_id]).as_svg().html_safe %>
    </div>
    <h1><%= title @company.name %></h1>

    <p><strong>Pais:</strong> <span><%= @company.country %></span></p>
    <p><strong>Cidade:</strong> <span><%= @company.city %></span></p>
    <p><strong>Web:</strong> <a href="<%= @company.website %>" target="_blank"><%= @company.website %></a></p>
    <div><div><%= simple_format @company.description %></div></div>

    <% if current_user.has_role? :recruiter or can? :manage, @company %>
      <p><strong>Alunos interessados:</strong> <%= @company.market_favorites.count %></p>

      <% @company.market_favorites.each do |student| %>
        <div class="job-offer-student">
          <%= link_to(
            student.profile.curriculum.url,
            target: '_blank',
            download: true,
            data: {filename: "#{student.profile.programme.full_name} - #{student.profile.name}.pdf"}
          ) do %>
            <div class="job-offer-student-name">
              <%= student.profile.name %>
            </div>
            <div class="job-offer-student-programme">
              <%= student.profile.programme.full_name %>
            </div>
            <div class="job-offer-student-icon">
              <%= fa_icon('download') %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
    
  </div>
</div>
