<%= form_with(model: market_favorite, local: true) do |form| %>
  <% if market_favorite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(market_favorite.errors.count, "error") %> prohibited this market_favorite from being saved:</h2>

      <ul>
      <% market_favorite.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :market_id %>
    <%= form.text_field :market_id %>
  </div>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id %>
  </div>

  <div class="field">
    <%= form.label :profile_id %>
    <%= form.text_field :profile_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
