<p id="notice"><%= notice %></p>

<h1>Market Favorites</h1>

<table>
  <thead>
    <tr>
      <th>Market</th>
      <th>Company</th>
      <th>Profile</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @market_favorites.each do |market_favorite| %>
      <tr>
        <td><%= market_favorite.market %></td>
        <td><%= market_favorite.company %></td>
        <td><%= market_favorite.profile %></td>
        <td><%= link_to 'Show', market_favorite %></td>
        <td><%= link_to 'Edit', edit_market_favorite_path(market_favorite) %></td>
        <td><%= link_to 'Destroy', market_favorite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Market Favorite', new_market_favorite_path %>
