<p id="notice"><%= notice %></p>

<p>
  <strong>Market:</strong>
  <%= @market_favorite.market %>
</p>

<p>
  <strong>Company:</strong>
  <%= @market_favorite.company %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @market_favorite.profile %>
</p>

<%= link_to 'Edit', edit_market_favorite_path(@market_favorite) %> |
<%= link_to 'Back', market_favorites_path %>
