<% title 'Entrar' %>

<%= image_tag('/images/profile_white.png'); %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, fa_icon("user lg fw") %>
    <%= f.email_field :email, autofocus: true, placeholder: User.human_attribute_name(:email) %>
  </div>

  <div class="field">
    <%= f.label :password, fa_icon("lock lg fw") %>
    <%= f.password_field :password, autocomplete: "off", placeholder: User.human_attribute_name(:password) %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="checkbox">
      <%= f.check_box :remember_me, class: 'hide' %>
      <%= f.label :remember_me, 'Lembrar-me' %>
      <%= link_to "Esqueceu a sua senha?", new_user_password_path, class: 'right' %>
    </div>
  <% end -%>

  <%= f.button "Entrar", class: 'button' %>

<% end %>
