<%= form_for(job_offer) do |f| %>
  <% if job_offer.errors.any? %>
    <div id="error_explanation">
      <h5>Foram encontrados os seguintes erros:<% pluralize(job_offer.errors.count, "erro") %></h5>
      <ul>
      <% job_offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Empresa</h3>

  <div class="field">
    <%= f.label :image, 'Logo / Imagem' %>
    <%= f.file_field :image, as: :file %>
  </div>

  <div class="field">
    <%= f.label :company, class: "required" %>
    <%= f.text_field :company %>
  </div>

  <h3>Oferta</h3>

  <div class="field">
    <%= f.label :position, class: 'required' %>
    <%= f.text_field :position %>
  </div>

  <div class="field">
    <%= f.label :location, class: 'required' %>
    <%= f.select :location, JobOffer.locations, prompt: '(Selecionar)' %>
  </div>

  <div class="field-label">
    <%= f.label :expires_at, 'Prazo <small>oferta expira a</small>'.html_safe %>
  </div>
  <div class="job-time-field">
    <div class="field">
      <%= f.date_select(
        :expires_at,
        date_separator: '<div class="time-separator">:</div>',
        start_year: Date.today.year,
        end_year: 3.months.from_now.year
      )
      %>
    </div>
  </div>

  <h3>Requisitos</h3>

  <% Degree.order(:order).each do |degree| %>
    <% if degree.programmes.order(:name).length > 0 %>
      <h5><%= degree.name %></h5>
      <%= f.collection_check_boxes :programme_ids, degree.programmes.order(:name), :id, :name do |cb| %>
        <%= cb.label(class: 'form-checkbox') { cb.check_box + cb.text } %>
      <% end %>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :minimum_requirements, 'Requisitos Minimos' %>
    <%= f.text_area :minimum_requirements, rows: 5 %>
  </div>

  <h3>Contrato</h3>

  <div class="field">
    <%= f.label :type_of_contract, class: 'required' %>
    <%= f.select :type_of_contract, JobOffer.types_of_contract, prompt: '(Selecionar)' %>
  </div>

  <div class="field">
    <%= f.label :contract_duration, class: 'required' %>
    <%= f.text_field :contract_duration %>
  </div>

  <span>Horário de Trabalho</span>
  <div class="job-time-field">
    <div class="field">
      <div class="field-label">
        <%= f.label :start_time, 'Das' %>
      </div>
      <%= f.time_select :start_time, time_separator: '<div class="time-separator">:</div>', minute_step: 15, prompt: true %>
    </div>

    <div class="field">
      <div class="field-label">
        <%= f.label :end_time, 'Às' %>
      </div>
      <%= f.time_select :end_time, time_separator: '<div class="time-separator">:</div>', minute_step: 15, prompt: true %>
    </div>
  </div>

  <div class="field">
    <%= f.label :salary, 'Remuneração (€)' %>
    <%= f.number_field :salary, step: 0.05 %>
  </div>

  <div class="field">
    <%= f.label :description, class: 'required' %>
    <%= f.text_area :description, rows: 10 %>
  </div>

  <h3>Contacto do(a) responsável</h3>

  <div class="field">
    <%= f.label :name, class: 'required' %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email, class: 'required' %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :phone, class: 'required' %>
    <%= f.text_field :phone %>
  </div>

  <div class="actions">
    <%= f.button 'Enviar', class: 'button' %>
  </div>
<% end %>
