<div class="menu">
  <%= active_link_to fa_icon('calendar-check-o lg fw', text: 'Por Aprovar'), JobOffer, active: {to_approve: true} %>
  <%= active_link_to fa_icon('calendar lg fw', text: 'Aprovados'), job_offers_path(approved: true), active: {approved: true} %>
  <%= active_link_to fa_icon('calendar-times-o lg fw', text: 'Expirados'), job_offers_path(expired: true), active: {expired: true} %>
  <%= active_link_to fa_icon('trash-o lg fw', text: 'Eliminados'), job_offers_path(trashed: true), active: {trashed: true} %>
</div>

<h1><%= title "Emprego / #{@filter}" %></h1>

<div class="col">
  <table>
    <thead>
      <tr>
        <th>Empresa</th>
        <th>Cargo</th>
        <th>Candidaturas</th>
        <th>Expira a</th>
      </tr>
    </thead>

    <tbody>
      <% @job_offers.each do |job_offer| %>
        <tr>
          <td><%= link_to job_offer.company, job_offer %></td>
          <td><%= job_offer.position %></td>
          <td><%= job_offer.number_of_applications %></td>
          <td><%= l job_offer.expires_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
