<% title 'Ofertas de Estágio/Emprego' %>

<div class="job-filters">
  <% @filters.each do |param, value| %>
    <div class="job-filter">
      <%= link_to fa_icon("times", text: value), job_offers_path(search_params.except(param)) %>
    </div>
  <% end %>
</div>

<div class="job-content">
  <div class="jobs">
    <% @job_offers.each do |job_offer| %>
      <% application = current_user.applications.find_by(job_offer: job_offer) %>
      <%= link_to job_offer, class: 'job-link', data: {id: application.blank? ? 0 : application.id} do %>
        <div class="card job-offer">

          <div class="job-image">
            <%= image_tag job_offer.image.url(:medium) %>
          </div>

          <div class="content">
            <h3><%= job_offer.position %></h3>
            <h4>por <strong><%= job_offer.company %></strong></h4>
            <span>Localização: <strong><%= job_offer.location %></strong></span>
            <span>Contrato: <strong><%= job_offer.type_of_contract %></strong></span>
          </div>

          <div class='engagement'>
            <div class="stats">
              <%= fa_icon 'suitcase fw', text: job_offer.number_of_applications %>
              <%= fa_icon 'eye fw', text: job_offer.view_count %>
            </div>

            <% if application.blank? %>
              <div class="job-add-application">
                Candidatar
              </div>
            <% else %>
              <div class="job-remove-application">
                Submetida
              </div>
            <% end %>
          </div>

        </div>
      <% end %>
      <% unless application.blank? %>
        <%= link_to(
          'Remover Candidatura',
          application,
          class: 'button alert hide',
          method: :delete,
          id: "application#{application.id}",
          data: { confirm: 'Tem a certeza?' }
        )%>
      <% end %>
    <% end %>
    <div class="job-link placeholder"></div>
    <div class="job-link placeholder"></div>
    <div class="job-link placeholder"></div>
    <div class="job-link placeholder"></div>
  </div>

  <div id="jobmenu">
    <h4>Ordenar</h4>
    <ul class="menu vertical">
      <li><%= link_to fa_icon('eye fw', text: 'Mais Vistos'), job_offers_path(search_params(order: :views)), class: ('active' if params[:order].eql? 'views') %></li>
      <li><%= link_to fa_icon('star fw', text: 'Mais Procurados'),  job_offers_path(search_params(order: :applications)), class: ('active' if params[:order].eql? 'applications') %></li>
    </ul>

    <h4>Filtrar</h4>
    <ul class="menu vertical">
      <li><%= link_to fa_icon('clock-o fw', text: 'A Expirar'), job_offers_path(search_params(filter: :expiring)), class: ('active' if params[:filter].eql? 'expiring') %></li>
      <li><%= link_to fa_icon('briefcase fw', text: 'Sem Candidaturas'), job_offers_path(search_params(filter: :applications)), class: ('active' if params[:filter].eql? 'applications') %></li>
    </ul>
  </div>

</div>


<div class="job-offer-panel hide">
  <div class="card job-offer-show">
    <%= fa_icon('times-circle-o 3x', id: 'job-offer-close') %>
    <%= form_for Application.new do |f| %>
      <%= f.hidden_field :job_offer_id %>
      <div id='job-img-container'>
        <img id='job-img'></img>
      </div>
      <div class="content">
        <h1 id='job-position'></h1>
        <h2>por <strong id='job-company'></strong></h2>
        <p><strong>Localização:</strong> <span id='job-location'></span></p>
        <p><strong>Candidatura até:</strong> <span id='job-expires-at'></span></p>
        <h5>Requisitos</h5>
        <p id='job-requirements'></p>
        <p><strong>Requisitos Mínimos:</strong> <span id='job-minimum-requirements'></span></p>
        <p><strong>Tipo de Contrato:</strong> <span id='job-contract'></span></p>
        <p><strong>Tempo de Contrato:</strong> <span id='job-duration'></span></p>
        <p><strong>Horário de Trabalho: </strong>Das <span id='job-start'></span> às <span id='job-end'></span></p>
        <h5>Descrição</h5>
        <p id='job-description'></p>
        <h5>Salário: <strong id='job-salary'></strong></h5>
      </div>

      <div class="button-container">
        <%= f.button 'Candidatar', class: 'button' %>
        <%= link_to 'Remover Candidatura', '', class: 'button alert', method: :delete, id: 'job-offer-link' %>
      </div>
    <% end %>
  </div>
</div>

