<div class='menu'>
  <% if @job_offer.trashed %>
    <%= link_to fa_icon('level-up lg fw', text: 'Ofertas de emprego'), job_offers_path(trashed: true) %>
  <% elsif !@job_offer.approved? %>
    <%= link_to fa_icon('level-up lg fw', text: 'Ofertas de emprego'), job_offers_path %>
  <% elsif @job_offer.expired? %>
    <%= link_to fa_icon('level-up lg fw', text: 'Ofertas de emprego'), job_offers_path(expired: true) %>
  <% else %>
    <%= link_to fa_icon('level-up lg fw', text: 'Ofertas de emprego'), job_offers_path(approved: true) %>
  <% end %>
</div>

<h4><%= title @job_offer.company %> <small>(<%= @job_offer.number_of_applications %>)</small></h4>
<p><%= image_tag @job_offer.image.url %></p>

<p>
  <strong>Empresa:</strong>
  <%= @job_offer.company %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @job_offer.position %>
</p>

<p>
  <strong>Localização:</strong>
  <%= @job_offer.location %>
</p>

<p>
  <strong>Prazo de Candidatura:</strong>
  <%= l @job_offer.expires_at %>
</p>

<h4>Requisitos</h4>

<p>
  <strong>Estudos Mínimos:</strong>
  <% degree = '' %>
  <% @job_offer.programmes.left_outer_joins(:degree).order("degrees.order", :name).each do |programme| %>
    <% if degree != programme.degree.name %>
      <% if degree != '' %></ul><% end %>
      <% degree = programme.degree.name %>
      <h6><%= degree %></h6>
      <ul>
    <% end %>
    <li><%= programme.name %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>Requisitos Mínimos:</strong>
  <%= @job_offer.minimum_requirements %>
</p>

<p>
  <strong>Tipo de Contrato:</strong>
  <%= @job_offer.type_of_contract %>
</p>

<p>
  <strong>Duração:</strong>
  <%= @job_offer.contract_duration %>
</p>

<p>
  <% if @job_offer.start_time and @job_offer.end_time %>
    <strong>Horário de Trabalho:</strong>
    Das <%= l @job_offer.start_time %>
    às <%= l @job_offer.end_time %>
  <% end %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= simple_format @job_offer.description %>
</p>

<p>
  <strong>Salário:</strong>
  <%= number_to_currency @job_offer.salary %>
</p>

<h4>Contacto</h4>

<p>
  <strong>Nome:</strong>
  <%= @job_offer.name %>
</p>

<p>
  <strong>email:</strong>
  <%= mail_to @job_offer.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @job_offer.phone %>
</p>

<%= form_for @job_offer, remote: true do |f| %>
  <div class='menu'>
    <%= link_to fa_icon('check fw', text: 'Aprovar'), approve_job_offer_path(@job_offer), method: :patch, class: 'button success' if (!@job_offer.approved and !@job_offer.trashed) %>
    <%= link_to fa_icon('check fw', text: 'Restaurar'), restore_job_offer_path(@job_offer), method: :patch, class: 'button' if @job_offer.trashed %>
    <%= link_to fa_icon('paper-plane fw', text: 'Enviar candidaturas'), send_applications_job_offer_path(@job_offer), class: "button#{@job_offer.applications_sent ? " success" : ""}", method: :patch if (@job_offer.expired? and !@job_offer.trashed) %>
    <%= link_to fa_icon('pencil fw', text: 'Editar'), edit_job_offer_path(@job_offer), class: "button" if (!@job_offer.expired? and !@job_offer.trashed) %>
    <%= link_to fa_icon('briefcase fw', text: 'Ver candidaturas'), students_job_offers_path(@job_offer.random_id), class: 'button', target: "_blank" if @job_offer.approved %>
    <%= link_to fa_icon('trash fw', text: 'Eliminar'), trash_job_offer_path(@job_offer), method: :patch, class: 'button alert', data: { confirm: 'Are you sure?' } if !@job_offer.trashed %>
    <%= link_to fa_icon('trash fw', text: 'Eliminar permanentemente'), @job_offer, method: :delete, class: 'button alert', data: { confirm: 'Are you sure?' } if @job_offer.trashed %>
  </div>
<% end %>
