<div class="admin-content">
  <% if @job_offer.expired? or current_user.has_role? :admin or current_user.has_role? :blat %>
    <h1><%= title 'Candidaturas' %></h1>
    <% @students.each do |student| %>
      <div class="job-offer-student">
        <%= link_to(
          student.profile.curriculum.url,
          target: '_blank',
          download: true,
          data: {filename: "#{student.profile.programme.full_name} - #{student.name}.pdf"}
        ) do %>
          <div class="job-offer-student-name">
            <%= student.name %>
          </div>
          <div class="job-offer-student-programme">
            <%= student.profile.programme.full_name %>
          </div>
          <div class="job-offer-student-icon">
            <%= fa_icon('download') %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="text-right">
      <% link_to(
        fa_icon('download', text: 'Transferir todos'),
        '',
        class: 'button',
        id: 'job-offer-download-all',
      ) %>
    </div>
    <hr>
  <% end %>

  <h1><%= @job_offer.company %></h1>
  <p><%= image_tag @job_offer.image.url %></p>

  <p>
    <strong>Cargo:</strong>
    <%= @job_offer.position %>
  </p>

  <p>
    <strong>Localização:</strong>
    <%= @job_offer.location %>
  </p>


  <p>
    <strong>Prazo de Candidatura:</strong>
    <%= l @job_offer.expires_at %>
  </p>

  <h4>Requisitos</h4>

  <p>
    <strong>Estudos Mínimos:</strong>
    <% degree = '' %>
    <% @job_offer.programmes.left_outer_joins(:degree).order("degrees.order", :name).each do |programme| %>
      <% if degree != programme.degree.name %>
        <% if degree != '' %></ul><% end %>
        <% degree = programme.degree.name %>
        <h6><%= degree %></h6>
        <ul>
      <% end %>
      <li><%= programme.name %></li>
    <% end %>
    </ul>
  </p>

  <p>
    <strong>Requisitos Mínimos:</strong>
    <%= @job_offer.minimum_requirements %>
  </p>

  <p>
    <strong>Tipo de Contrato:</strong>
    <%= @job_offer.type_of_contract %>
  </p>

  <p>
    <strong>Duração:</strong>
    <%= @job_offer.contract_duration %>
  </p>

  <p>
    <% if @job_offer.start_time and @job_offer.end_time %>
      <strong>Horário de Trabalho:</strong>
      Das <%= l @job_offer.start_time %>
      às <%= l @job_offer.end_time %>
    <% end %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= simple_format @job_offer.description %>
  </p>

  <p>
    <strong>Salário:</strong>
    <%= number_to_currency @job_offer.salary %>
  </p>

  <h4>Contacto</h4>

  <p>
    <strong>Nome:</strong>
    <%= @job_offer.name %>
  </p>

  <p>
    <strong>email:</strong>
    <%= mail_to @job_offer.email %>
  </p>

  <p>
    <strong>Telefone:</strong>
    <%= @job_offer.phone %>
  </p>
</div>
