<%= form_with(model: market, local: true, html: {id: 'market_form'}) do |form| %>
  <% if market.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(market.errors.count, "error") %> prohibited this market from being saved:</h2>

      <ul>
      <% market.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_user.has_role? :blat %>
    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :active %>
      <%= form.check_box :active %>
    </div>

    <div class="field">
      <%= form.label :banner %>
      <%= form.file_field :banner %>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :companies, 'Empresas' %>
    <ul id="market_companies_list">
    </ul>
    <div class="select" id="market_companies_select">
      <%= form.collection_select :company_id,
        Company.except(market.companies).order(:name),
        :id,
        :name,
        prompt: 'Selecionar Empresa'
      %>
      <%= link_to "Adicionar", "#", class: 'button' %>
    </div>
    <%= form.hidden_field :company_ids, id: "market_company_ids" %>
  </div>

  <div class="actions">
    <%= form.button 'Gravar', class: 'button expanded' %>
  </div>
<% end %>
