<div id="admin-page-menu">
    <%= link_to fa_icon('chevron-up 2x fw'), markets_path, class: 'button' if can? :index, Market %>
    <h1><%= title @market.name %></h1>
    <%= link_to fa_icon('plus 2x fw'), new_market_path, class: 'button' if can? :create, Market %>
</div>

<%= render 'form', market: @market %>

