<div id="admin-page-menu">
  <h1><%= title 'Feiras' %></h1>
  <%= link_to fa_icon('plus 2x fw'), new_market_path, class: 'button' %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @markets.each do |market| %>
      <tr>
        <td><%= link_to market.name, edit_market_path(market) %></td>
        <td><%= market.active %></td>
        <td><%= link_to fa_icon('trash 2x'), market, method: :delete, data: { confirm: 'Are you sure?' }, class: 'alert' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

