<p>
  <strong>Name:</strong>
  <%= @market.name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @market.active %>
</p>

<%= link_to 'Edit', edit_market_path(@market) %> |
<%= link_to 'Back', markets_path %>
