<template>
  <form id="job-offer" class="col" enctype="multipart/form-data" action="/admin/ofertas" accept-charset="UTF-8" method="post">
    <h3>Empresa</h3>

    <input name="utf8" type="hidden" value="✓">
    <input type="hidden" name="authenticity_token" :value="$root.csrf">

    <div class="field">
      <label for="job_offer_image">Logo / Imagem</label>
      <input as="file" type="file" name="job_offer[image]" id="job_offer_image">
    </div>

    <div class="field">
      <label class="required" for="job_offer_company">Empresa</label>
      <input type="text" name="job_offer[company]" id="job_offer_company">
    </div>

    <h3>Oferta</h3>

    <div class="field">
      <label class="required" for="job_offer_position">Cargo</label>
      <input type="text" name="job_offer[position]" id="job_offer_position">
    </div>

    <div class="field">
      <label class="required" for="job_offer_location">Localização</label>
      <select name="job_offer[location]" id="job_offer_location" v-model="selectedLocation">
        <option value="">(Selecionar)</option>
        <option v-for="location in locations" v-bind:value="location.name">
          {{ location.name }}
        </option>
        <option :value="locationInternational" v-text="locationInternational"></option>
      </select>
      <input v-if="selectedLocation === locationInternational" type="text" name="job_offer[location]" id="job_offer_location">
    </div>

    <div class="field-label">
      <label for="job_offer_expires_at">Prazo <small>oferta expira a</small></label>
    </div>

    <div class="job-time-field">
      <div class="field">
        <select id="job_offer_expires_at_3i" name="job_offer[expires_at(3i)]" v-model="expiresAtDay" :class="{blink: animationTimeouts.expiresAtDay}">
          <option :value="index" v-for="index in availableDays" v-text="index"></option>
        </select>
        <div class="time-separator">:</div>
        <select id="job_offer_expires_at_2i" name="job_offer[expires_at(2i)]" v-model="expiresAtMonth" :class="{blink: animationTimeouts.expiresAtMonth}">
          <option :value="month.format('M')" v-for="month in availableMonths" v-text="month.format('MMMM')"></option>
        </select>
        <div class="time-separator">:</div>
        <select id="job_offer_expires_at_1i" name="job_offer[expires_at(1i)]" v-model="expiresAtYear" :class="{blink: animationTimeouts.expiresAtYear}">
          <option :value="year" v-for="year in availableYears" v-text="year"></option>
        </select>
      </div>
    </div>

    <div class="field-label">
      <label for="job_offer_expires_at"><small>Máximo: <span v-text="maxExpirationDate.calendar()"></span></small></label>
    </div>

    <h3>Requisitos</h3>

    <template v-for="degree in degrees">
      <h5 v-text="degree.name"></h5>
      <label class="form-checkbox" :for="`job_offer_programme_ids_${programme.id}`" v-for="programme in programmes.filter(p => p.degree_id == degree.id)">
        <input type="checkbox" :value="programme.id" name="job_offer[programme_ids][]" :id="`job_offer_programme_ids_${programme.id}`">
        {{ programme.name }}
      </label>
    </template>

    <div class="field">
      <label for="job_offer_minimum_requirements">Requisitos Minimos</label>
      <textarea rows="5" name="job_offer[minimum_requirements]" id="job_offer_minimum_requirements"></textarea>
    </div>


    <h3>Contrato</h3>

    <div class="field">
      <label class="required" for="job_offer_type_of_contract">Tipo de contrato</label>
      <select name="job_offer[type_of_contract]" id="job_offer_type_of_contract"><option value="">(Selecionar)</option>
        <option :value="contractType.name" v-for="contractType in contractTypes" v-text="contractType.name"></option>
      </select>
    </div>

    <div class="field">
      <label class="required" for="job_offer_contract_duration">Duração do contrato</label>
      <input type="text" name="job_offer[contract_duration]" id="job_offer_contract_duration">
    </div>

    <span>Horário de Trabalho</span>
    <div class="job-time-field">
      <div class="field">
        <div class="field-label">
          <label for="job_offer_start_time">Das</label>
        </div>
        <input type="hidden" id="job_offer_start_time_1i" name="job_offer[start_time(1i)]" value="1">
        <input type="hidden" id="job_offer_start_time_2i" name="job_offer[start_time(2i)]" value="1">
        <input type="hidden" id="job_offer_start_time_3i" name="job_offer[start_time(3i)]" value="1">
        <select id="job_offer_start_time_4i" name="job_offer[start_time(4i)]">
          <option value="">Hora</option>
          <option value="hour" v-for="hour in availableHours" v-text="hour"></option>
        </select>
        <div class="time-separator">:</div>
        <select id="job_offer_start_time_5i" name="job_offer[start_time(5i)]">
          <option value="">Minuto</option>
          <option value="minute" v-for="minute in availableMinutes" v-text="minute"></option>
        </select>
      </div>

      <div class="field">
        <div class="field-label">
          <label for="job_offer_end_time">Às</label>
        </div>
        <input type="hidden" id="job_offer_end_time_1i" name="job_offer[end_time(1i)]" value="1">
        <input type="hidden" id="job_offer_end_time_2i" name="job_offer[end_time(2i)]" value="1">
        <input type="hidden" id="job_offer_end_time_3i" name="job_offer[end_time(3i)]" value="1">
        <select id="job_offer_end_time_4i" name="job_offer[end_time(4i)]">
          <option value="">Hora</option>
          <option value="hour" v-for="hour in availableHours" v-text="hour"></option>
        </select>
        <div class="time-separator">:</div>
        <select id="job_offer_end_time_5i" name="job_offer[end_time(5i)]">
          <option value="">Minuto</option>
          <option value="minute" v-for="minute in availableMinutes" v-text="minute"></option>
        </select>
      </div>
    </div>

    <div class="field">
      <label for="job_offer_salary">Remuneração (€)</label>
      <input step="0.05" type="number" name="job_offer[salary]" id="job_offer_salary">
    </div>

    <div class="field">
      <label class="required" for="job_offer_description">Descrição</label>
      <textarea rows="10" name="job_offer[description]" id="job_offer_description"></textarea>
    </div>

    <h3>Contacto do(a) responsável</h3>

    <div class="field">
      <label class="required" for="job_offer_name">Nome do responsável</label>
      <input type="text" name="job_offer[name]" id="job_offer_name">
    </div>

    <div class="field">
      <label class="required" for="job_offer_email">Email do responsável</label>
      <input type="text" name="job_offer[email]" id="job_offer_email">
    </div>

    <div class="field">
      <label class="required" for="job_offer_phone">Telefone do responsável</label>
      <input type="text" name="job_offer[phone]" id="job_offer_phone">
    </div>

      <div class="actions">
      <button name="button" type="submit" class="button">Enviar</button>
    </div>
  </form>
</template>

<script>
export default {
  data() {
    return {
      animationTimeouts: {
        expiresAtDay: false,
        expiresAtMonth: false,
        expiresAtYear: false,
      },
      contractTypes: [],
      degrees: [],
      expiresAtDay: null,
      expiresAtMonth: null,
      expiresAtYear: null,
      locations: [],
      locationInternational: 'Internacional',
      programmes: [],
      selectedLocation: null,
      selectedExpirationDate: moment().add(3, 'months'),
    }
  },
  methods: {
    initAnimation(element) {
      clearTimeout(this.animationTimeouts[element]);
      this.animationTimeouts[element]= setTimeout( () => {
        clearTimeout(this.animationTimeouts[element]);
        this.animationTimeouts[element]= null;
      }, 1000);
    }
  },
  computed: {
    availableDays() {
      let year = this.expiresAtYear;
      let month = this.expiresAtMonth - 1;
      if( this.expiresAtYear && this.expiresAtMonth) {
        let daysInMonth = moment({month: month, year: year}).daysInMonth();
        return daysInMonth;
      }
      return 0;
    },
    availableMinutes() {
      let minutes = [];
      let step = 15;
      for( let i = 0; i < 60; i += step) {
        minutes.push(String('0' + i).slice(-2));
      }
      return minutes;
    },
    availableMonths() {
      let months = [];
      for(let i = 0; i < 4; i++) {
        months.push(this.today.clone().add(i, 'months'));
      }
      return months;
    },
    availableHours() {
      let hours = [];
      for( let i = 0; i < 24; i++) {
        hours.push(String('0' + i).slice(-2));
      }
      return hours;
    },
    availableYears() {
      let years = [this.today.year()];
      if( this.today.year() != this.maxExpirationDate.year() ) {
        years.push(this.maxExpirationDate.year());
      }
      return years;
    },
    expiresAt() {
      let year = this.expiresAtYear;
      let month = this.expiresAtMonth - 1;
      let day = this.expiresAtDay;
      return moment({
        year: year,
        month: month,
        day: day,
      });
    },
    maxExpirationDate() {
      return moment(new Date()).add(3, 'months');
    },
    today() {
      return moment(new Date());
    },
  },
  watch: {
    expiresAtDay() {
      this.initAnimation('expiresAtDay');
    },
    expiresAtMonth() {
      this.initAnimation('expiresAtMonth');
    },
    expiresAtYear() {
      this.initAnimation('expiresAtYear');
    },
  },
  mounted() {
    api.fetch.locations()
    .then( response => this.locations = response.data );
    api.fetch.degrees()
    .then( response => this.degrees = response.data );
    api.fetch.programmes()
    .then( response => this.programmes = response.data );
    api.fetch.contractTypes()
    .then( response => this.contractTypes = response.data );
    this.expiresAtDay = this.maxExpirationDate.date();
    this.expiresAtMonth = this.maxExpirationDate.month();
    this.expiresAtYear = this.maxExpirationDate.year();
  }
}
</script>
