#admin-page-menu {
  display: flex;
  margin-bottom: 8px;

  > .button {
    margin: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex-shrink: 0;
  }

  > h1 {
    margin: 0 auto 0 0;
    line-height: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &:not(:first-child) {
      margin-left: 4px;
    }
  }
}

.page {
  & > .admin-content {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
    background: $white;
    @include box-shadow(2);
    padding: 2rem;

    > .menu:first-child {
      margin: -2rem -2rem 0;

      > a {
        flex-basis: 0;
        min-width: 0;
        flex-grow: 1;
        text-align: center;
        position: relative;
        padding: 1.5em 1em;

        &::before, &::after {
          content: '';
          position: absolute;
          z-index: 1;
        }

        &.active:not(:last-child)::before {
          top: 0;
          bottom: 0;
          right: -0.5em;
          width: 0.5em;
          @include linear-background(rgba(100,100,100,0), rgba(100,100,100,0.1), $angle: 270deg);
        }

        &.active:not(:first-child)::after {
          top: 0;
          bottom: 0;
          left: -0.5em;
          width: 0.5em;
          @include linear-background(rgba(100,100,100,0), rgba(100,100,100,0.1), $angle: 90deg);
        }

        &:not(.active) {
          background: $light-gray;

          &::after {
            bottom: 0;
            left: 0;
            right: 0;
            height: 0.5em;
            @include linear-background(rgba(100,100,100,0), rgba(100,100,100,0.1), $angle: 180deg);
          }
        }
      }
    }
  }
}
