#adminmenu {
  height: $adminmenu-height;
  background: white;
  display: flex;
  position: absolute;
  top: $menubar-height;
  left: 0;
  right: 0;
  align-items: stretch;
  justify-content: center;
  @include box-shadow(1);
  z-index: 10;


  .menu {
    align-items: stretch;
    max-width: 90%;
    width: 800px;
    height: 100%;
    position: relative;
  }

  a {
    color: $black;
    text-transform: uppercase;
    font-weight: bold;
    flex-grow: 1;
    flex-basis: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;

    &:hover {
      color: $primary-color;
    }

    .fa-stack {
      font-size: 0.63em;

      i:first-child {
        color: lighten($black, 20%);
      }
    }
  }

  li {
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 0;
    @include breakpoint(medium) {
      position: relative;
    }
  }

  .submenu {
    @include box-shadow(2);
    border-radius: $global-radius;
    background: white;
    flex-direction: column;
    text-align: left;
    list-style: none;
    margin-left: 0;
    pointer-events: none;
    opacity: 0;
    margin: 0 2px 2rem;
    padding: 1rem 0.5rem;
    font-size: 0.85rem;
    display: flex;
    min-width: 100%;

    position: absolute;
    top: -10rem;
    left: 0;
    right: 0;
    transition: 0.2s ease-out;
    transition-property: opacity, top;

    &.active {
      top: 4rem;
      opacity: 1;
      pointer-events: auto;
    }

    li {
      &::before {
        content: '';
        border-radius: $global-radius;
        @include linear-background(lighten($primary-color, 5%), darken($primary-color, 5%));
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition-property: opacity;
        transition-duration: 0.125s;
        transition-timing-function: ease-out;
      }
      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }

    a {
      position: relative;
      z-index: 2;
      padding: 0.25rem 0.5rem;
      justify-content: flex-start;
      border-radius: $global-radius;
      transition-property: color;
      transition-duration: 0.125s;
      transition-timing-function: ease-out;

      &:hover {
        color: white;
      }
    }
  }

  & + .page {
    padding-top: 2 * $menubar-height + $menubar-height/4;
  }
}
