$devise-label-width: 45px;

.page.devise {
  background: linear-gradient(rgba(darken(#1e4a74, 25%),0.7), rgba(darken(#1e4a74, 25%),0.7)), url("/images/tagus.jpg");
  background-size: cover;
  background-position: center;
}

#devise {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: $dark-gray;

  > img {
    max-width: 150px;
    margin-bottom: 4rem;
  }
  
  form {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;

    > .checkbox, > .field {
      margin-bottom: 2rem;
      opacity: 0.85;
      transition: opacity 0.25s ease-out;

      &.focus {
        opacity: 1;
      }
    }

    > .checkbox {
      > label {
        $label-height: 12px;
        color: $white;
        position: relative;
        padding-left: $label-height + 1.5*$label-height;
        height: $label-height;
        font-size: $label-height;
        line-height: 1;
        margin: 0; // THIS IS BAD

        &::after {
          content: '';
          top: 0;
          left: 0;
          height: $label-height;
          width: $label-height;
          background: rgba(white, 0.1);
          position: absolute;
        }
      }

      input[type=checkbox]:checked + label {
        &::after {
          @extend .fa;
          content: '\f00c';
        }
      }

      > a {
        color: $dark-gray;
        font-style: italic;
        float: right;
         &:hover {
           text-decoration: underline;
         }
      }
    }

    > button {
      background: rgba(black, 0.5);
      text-transform: uppercase;
      align-self: center;
      max-width: 200px;
      width: 100%;
      padding-top: 1.3em;
      padding-bottom: 1.3em;

      &:hover {
        background: rgba(white, 0.15);
      }

      &.alert {
        color: $alert-color;

        &:hover {
          background: rgba(darken($alert-color, 15%), 0.4);
        }
      }
    }

    > .field {
      display: flex;
      flex-wrap: nowrap;
      flex-align: center;
      align-items: center;
      background: $white;

      &.accept {
        .select {
          width: $devise-label-width;
          text-align: center;
        }
        label {
          flex-grow: 1;
          text-align: left;
          hyphens: auto;
          padding: 8px;
        }
      }

      label {
        width: $devise-label-width;
        flex-shrink: 0;
        text-align: center;
        color: $menubar-bg
      }

      .field_with_errors > label {
        color: red;
      }

      input {
        margin: 0; // THIS IS BAD
        border: none; // THIS IS ALSO BAD
        color: $menubar-bg
      }
    }
  }

  #error_explanation > h2 {
    font-size: 170%;
  }
}
