// Colors
$main-color: #1779ba;

$active-input-border-color: #8a8a8a;
$input-border-color: #f0f0f0;

// Menubar
$menubar-height: 70px;
$menubar-bg: #00467f;

// Order Menu
$jobmenu-width: $menubar-height;

// Admin Menu
$adminmenu-height: $menubar-height;

// Job Offers
$job-card-footer-height: 3.2rem;
$job-card-footer-bg:  #f6f6f6;
$job-card-width: 260px;
