.field {
  select {
    border: 1px solid $input-border-color;
    transition: 0.2s ease-out border-color;

    &.blink {
      animation-name: blink-border;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }

    &:active, &:focus {
      border-color: $active-input-border-color;
    }
  }
}
