$yellow: #baaa17;
$orange: #ba5817;

@-webkit-keyframes orange {
  0% { background-color: $orange; }
  50% { background-color: darken($orange, 15); }
}@-moz-keyframes breathing {
  0% { background-color: $orange; }
  50% { background-color: darken($orange, 15); }
}@keyframes breathing {
  0% { background-color: $orange; }
  50% { background-color: darken($orange, 15); }
}

@-webkit-keyframes yellow {
  0% { background-color: $yellow; }
  50% { background-color: darken($yellow, 15); }
}@-moz-keyframes breathing {
  0% { background-color: $yellow; }
  50% { background-color: darken($yellow, 15); }
}@keyframes breathing {
  0% { background-color: $yellow; }
  50% { background-color: darken($yellow, 15); }
}

@mixin animation($name, $seconds, $style, $totaltime) {
  animation: $name $seconds $style $totaltime;
  -ms-animation: $name $seconds $style $totaltime;
  -webkit-animation: $name $seconds $style $totaltime;
  -moz-animation: $name $seconds $style $totaltime;
  -o-animation: $name $seconds $style $totaltime;
}

.button {
  position: relative;
  border: none;
  overflow: hidden;
  background-image: linear-gradient(rgba(#ffffff, 0.3), rgba(#000000, 0.3));
  background-blend-mode: soft-light;
  z-index: 1;

  &.yellow {
    background-color: #baaa17;
    @include animation(breathing, 3s, linear, infinite);
  }

  &.orange {
    background-color: #ba5817;
  }
}

footer {
  z-index: 100;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 80%;
  padding: 0 15px 3px;
  margin-top: auto;

  #index + & {
    position: absolute;
    bottom: 0;
    color: white;
  }

  > p {
    margin: 0;
  }
}

.alert {
  color: $alert-color;
}
.orange {
  color: #ba5817;
}
.yellow {
  color: #baaa17;
}


.filters {
  display: flex;
  > a {
    &:not(:last-child) {
      margin-right: auto;
    }
    &.active {
      font-weight: bold;
    }
  }
}

.menu {
  border-radius: $global-radius;

  & + .menu {
    margin-top: 2rem;
  }

  .button, form {
    flex-grow: 1;
    flex-basis: 0px;
    width: 100%;
    &.active {
      background-color: lighten($primary-color, 8%);
      font-weight: bold;
    }
  }
  a {
    height: 100%;
  }
}

#menubar {
  height: $menubar-height;
  background: $menubar-bg;
  background-size: cover;
  background-position: center;

  &.market {
    background: #e83b41;
  }

  color: $white;

  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;

  h1 {
    margin: 0;
    font-family: 'Neo Sans', $body-font-family;
    & > a, &  {
      font-size: (4rem / 3);
    }
  }

  display: flex;
  align-items: center;

  position: fixed;
  width: 100%;
  z-index: 100;

  img {
    max-height: $menubar-height;
    padding: 1rem 0.5rem;
  }

  a {
    font-size: 1rem;
    color: $white;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:not(.title) {
      padding-bottom: 2px;
    }
    
    > i {
      margin-right: 10px;
      font-size: 175%;
    }

    &:not(#logo):hover {
      border-bottom: 1px solid $white;
    }
  }

  .left, .right, .center {
    flex-grow: 3;
    flex-basis: 0;
  }

  .right, .left {
    max-height: $menubar-height;
    @include breakpoint(small only) {
      flex-grow: 1;
    }
  }

  .left {
    padding: 0 0 0 1rem;
    display: flex;
    align-items: center;
  }

  .center {
    display: flex;
    justify-content: space-around;
    align-items: center;
    h1 {
      flex-grow: 1;
      flex-basis: 0;
      text-align: center;
    }
  }

  .right {
    padding: 0 1rem 0 0;
    align-items: right;
    text-align: right;
  }
}

.page {
  padding-top: $menubar-height*4/3;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;
  min-height: 100%;
  position: absolute;

  &.no-padding {
    padding-top: $menubar-height;
  }

}

.col {
  display: flex;
  flex-direction: column;
}

#notice {
  position: fixed;
  background: $white;
  top: $menubar-height;
  width: 100%;
  text-align: center;
  padding: 1rem;
  z-index: 9999;
  opacity: 1;
  @include box-shadow(1);

  &.vanish {
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.4s;
    pointer-events: none;
  }
}

.fields-horizontal {
  display: flex;
  margin-bottom: 1rem;

  .field {
    flex-grow: 1;
    flex-basis: 0px;
    input {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin: 0 0.5rem 0 0;
    }
  }

  button.button {
    margin-bottom: 0;
  }
}

select {
  -webkit-appearance:none;
  border: none;
  margin: 0;

  &:focus {
    border: none;
  }
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba($dark-gray, 0.4);
}

tbody tr.unapproved {
  background: lighten($alert-color, 30%);
}

table {
  tr {
    border-bottom: 1px solid $medium-gray;
    background: $white;
  }

  tbody tr {
    transition: 0.2s background-color ease-out;
  }

  tbody tr:hover {
    background: $light-gray;
  }
}

form .select {
  display: flex;
  > select {
    flex-grow: 1;
  }
  > a {
    flex-shrink: 0;
  }
}