#index {
  align-self: stretch;
  width: 100%;

  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  color: $white;

  position: relative;
  background: url("/images/tagus.jpg");
  background-size: cover;
  background-position: center;
  z-index: 0;   

  &::before {
    background-color: darken(#1e4a74, 25%);
    content: "";
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  img {
    align-self: center;
    max-height: 350px;
    max-width: 50%;
    width: 350px;
  }

  &-title {
    font-size: 110%;
  }
}


#adminmenu + .page + #notice {
  top: $menubar-height + $adminmenu-height;
}

label.required:after {
  content: '*';
}
