#company {
    &-logo {
        height: 179px;
        width: 179px;
        margin: auto;
        object-fit: contain;
        background: $light-gray;
        border: 2px solid $primary-color;
    }
    &-form-logo {
        display: flex;
    }
    &-images {
        height: 175px;
        display: flex;
        align-items: center;

        img, svg {
            height: 100%;
            width: auto;
            flex-grow: 1;
            flex-basis: 0;
            min-width: 0;
        }

        img {
            object-fit: contain;
        }

        svg {
            margin-left: auto;
            flex-shrink: 0;
            max-width: 175px;
        }
    }
}

#companies {
    &-grid {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: repeat(1, 1fr);
        @include breakpoint(medium) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint(large) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}