
.job-content, .jobs, .job-offer-student, .job-offer-student a {
  display: flex;
}

#job-offer-download-all {
  margin-top: 1rem;
}

.job-offer-student {
  background: rgba($black, 0);
  transition: 0.2s background ease-out;

  &:hover {
    background: rgba($black, 0.075);
  }

  &:not(:first-child) {
    border-top: 1px solid $light-gray;
  }

  a {
    padding: 1rem;
    width: 100%;
  }
  .job-offer-student-name, .job-offer-student-programme, .job-offer-student-icon {
    flex-basis: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .job-offer-student-name, {
    flex-grow: 3;
  }

  .job-offer-student-programme  {
    flex-grow: 5;
  }

  .job-offer-student-icon {
    flex-grow: 1;
    text-align: right;
  }
}

.job-content {
  width: 100%;
  justify-content: center;
  align-self: center;
  overflow-x: hidden;
}

.jobs {
  max-width: 1*$job-card-width+1px;
  @include breakpoint(medium only) {
    max-width: 2*$job-card-width+2px;
  }
  @include breakpoint(large only) {
    max-width: 3*$job-card-width+3px;
  }
  @include breakpoint(xlarge) {
    max-width: 4*$job-card-width+4px;
  }
  border-right: 1px solid rgba($black, 0.3);
  flex-wrap: wrap;
  justify-content: center;
  flex-shrink: 0;
}

.job-cards {
  float: right;
}

// FILTERS
.job-filters {
  width: 100%;
  justify-content: center;
  display: flex;
}

.job-filter {
  border-radius: 0.75rem;
  background: $white;
  @include box-shadow(1);
  padding: 0 0.5rem;
  margin: 0 0.25rem 1rem;
  a {
    color: $black;
  }
}

.job-offer-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(black, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $menubar-height*1.5 1rem 2rem;
  z-index: 200;
  overflow: auto;
  opacity: 0;
  transition: 0.2s opacity ease-in-out;

  &.hide {
    pointer-events: none;
  }

  &.active {
    opacity: 1;
  }

  #job-offer-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    z-index: 10;
  }

  .job-offer-show {
    max-width: 600px;
    background: $white;
    margin: auto;
    @include box-shadow(2);
    position: relative;

    #job-img {
      self-align: center;
      width: 100%;
      z-index: 1;

      &-container {
        position: relative;

        > .button-container {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          display: flex;

          > .button {
            margin: auto;
          }
        }
      }
    }

    .button-container {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    
    .content {
      padding: 2rem;
    }
  }
}

#job-offer {
  max-width: 90%;
  margin: 0 auto 1rem;
  @include box-shadow(2);
  background: $white;
  padding: 1rem;
  width: 800px;

  input:not([type="checkbox"]), select, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.job-link {
  display: block;
  outline: none;
  width: $job-card-width;
}

.job-offer {
  overflow: hidden;
  margin: 6px 8px;
  @include box-shadow(1);

  &:hover {
    .job-image::after {
      background-color: rgba($white, 0.3);
    }

    .engagement {
      .job-add-application {
        @include linear-background(lighten($primary-color, 15%), lighten($primary-color, 5%));
      }
      .job-remove-application {
        @include linear-background(lighten($alert-color, 15%), lighten($alert-color, 5%));
      }
    }
  }

  .job-image {
    height: 170px;
    overflow: hidden;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
      position: relative;
    }

    img.bg {
      filter: blur(50px);
      position: absolute;
      top: 0;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .engagement {
    background: $job-card-footer-bg;
    box-shadow: 0 1px 0 0 #fff inset;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: $job-card-footer-height;

    .stats {
      padding: 0 1rem;
      line-height: $job-card-footer-height;
      vertical-align: middle;
    }
    
    .job-add-application, .job-remove-application {
      color: $white;
      line-height: $job-card-footer-height;
      vertical-align: middle;
      text-align: center;
      position: relative;
      padding: 0 1rem 0 2.5rem;
      margin-left: auto;
      text-transform: uppercase;
      -webkit-clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
      clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0% 100%);
      width: 50%;
      font-size: 0.8rem;
      font-weight: bold;

      &:after {
        content: '';
        border-color: $job-card-footer-bg transparent;
        border-width: $job-card-footer-height 2.5rem 0 0;
        border-style: solid;
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    .job-add-application {
      @include linear-background(lighten($primary-color, 5%), darken($primary-color, 5%));
    }
    .job-remove-application {
      @include linear-background(lighten($alert-color, 5%), darken($alert-color, 5%));
    }

  }

  h3, h4, span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }

  h4 {
    font-size: 1.1rem;
  }
}

.job-time-field {
  display: flex;
  margin-bottom: 1rem;

  .field {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;

    &:not(:last-child) {
      margin-right: 1rem;
    }


    .field-label {
      margin-right: 1rem;
    }

    .time-separator {
      text-align: center;
      margin: 0 1rem;
    }
    
    select {
      flex-grow: 1;
      margin: 0;
    }
  }
}

#jobmenu {
  padding-top: 4rem;
  padding-right: 10px;
  overflow: hidden;

  @include breakpoint(medium) {
    flex-shrink: 0;
  }

  h4 {
    padding: 0 1rem;
    @include breakpoint(small only) {
      text-align: center;
    }
  }

  &>.menu {
    display: block;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    
    a {
      color: $black;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        color: lighten($black, 20%);
      }

      &.active {
        color: $primary-color;

        &:hover {
          color: lighten($primary-color, 20%);
        }
      }

      i, img, svg {
        margin-right: 0;
      }
    }
  }
}

#adminmenu + #jobmenu + .page {
  padding-top: 2 * $menubar-height + $menubar-height/4;
  padding-right: $jobmenu-width*5/4;
  padding-left: 1rem;
}
