#user, #company {
  display: flex;
  flex-direction: column;

  .user-qr, .company-qr {
    margin: 0 auto;
    width: 175px;

    > svg {
      height: 100%;
      width: 100%;
    }
  }
}

#user-profile {
  max-width: 95%;
  width: 600px;
  margin: 0 auto;
  background: $white;
  @include box-shadow(2);
  padding: 2rem;
  
  .user-qr, .company-qr {
    margin: 0 auto;
    width: 175px;

    > svg {
      height: 100%;
      width: 100%;
    }
  }
}

#curriculum-upload {
  display: flex;
  align-items: stretch;

  #curriculum-url, #curriculum-missing {
    transition-duration: 0.5s;
    transition-property: color;

    &.missing {
      pointer-events: none;
      > i {
        color: #eaeaea;
      }
    }

    &.invalid, &.hidden {
      pointer-events: none;
    }

    &.hidden {
      position: absolute;
      opacity: 0;
    }
  }

  #curriculum-upload-form {
      flex-grow: 1;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin: 0 0 0 1rem;

    &.curriculum-destroy {
      transition-duration: 0.1s, 0.5s;
      transition-property: background-color, font-size, width, margin, padding, border-width;
      transition-timing-function: ease-in-out;
    }

    &.hidden {
      //transform: scaleX(0);
      width: 0;
      flex-grow: 0;
      margin: 0;
      overflow: hidden;
      padding: 0;
      border-width: 0px;
      font-size: 0;
    }
  }
}

.profile-details {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
