<h3>Bem-vindo ao <%= ENV["APP_NAME"] %></h3>

<p>Aqui poderá encontrar inúmeras propostas, tanto de emprego como de estágio, das mais prestigiadas empresas a nível nacional e internacional.</p>

<p>Continue o registo confirmando o seu email (<%= @email %>) clicando no link abaixo

<p style="text-align: center;"><%= link_to 'Confirmar', confirmation_url(@resource, confirmation_token: @token) %></p>
