<h3>Bem vindo ao <%= ENV['APP_NAME'] %></h3>

<p>
    Para aceitar o seu convite e definir a sua senha de acesso deve aceder link que se encontra em baixo.
</p>

<p style="text-align: center;"><%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token) %></p>

<% if @resource.invitation_due_at %>
  <p><%= t("devise.mailer.invitation_instructions.accept_until", due_date: l(@resource.invitation_due_at, format: :'devise.mailer.invitation_instructions.accept_until_format')) %></p>
<% end %>

<% if @resource.has_role? :recruiter %>
    <hr>
    <p>Ao aceder e finalizar o registo está a criar uma conta pessoal e intransmissível.</p>
    <p>Os dados acedíveis através do acesso garantido pela sua conta não devem ser transmitidos a terceiros sem o consentimento explícito da pessoa em causa.</p>
<% end %>

<p style="font-size: 0.8em; margin-bottom: 0"><%= t("devise.mailer.invitation_instructions.ignore").html_safe %></p>
