<p>Olá <%= @resource.name %>!</p>

<p>Alguém pediu um link para alterar a tua senha de acesso. Isto pode ser feito usando o link em baixo.</p>

<p><%= link_to 'Alterar Senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não pediste isto, ignora este email por favor.</p>
<p>A tua senha não vai ser alterada até acederes ao link acima e criares uma nova.</p>
