<%= form_with(model: site_asset, local: true) do |form| %>
  <% if site_asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(site_asset.errors.count, "error") %> prohibited this site_asset from being saved:</h2>

      <ul>
      <% site_asset.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :site_asset_name %>
  </div>

  <div class="field">
    <%= form.label :attachment %>
    <%= form.file_field :attachment, as: :file %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
