<h1>Site Assets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_assets.each do |site_asset| %>
      <tr>
        <td><%= site_asset.name %></td>
        <td><%= link_to 'Show', site_asset %></td>
        <td><%= link_to 'Edit', edit_site_asset_path(site_asset) %></td>
        <td><%= link_to 'Destroy', site_asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site Asset', new_site_asset_path %>
