<p>
  <strong>Name:</strong>
  <%= @site_asset.name %>
</p>

<p>
  <strong>URL:</strong>
  <%= @site_asset.attachment.url %>
</p>

<p>
  <% unless @site_asset.attachment.content_type.index('image').blank? %>
    <%= image_tag @site_asset.attachment.url %>
  <% end %>
</p>

<%= link_to 'Edit', edit_site_asset_path(@site_asset) %> |
<%= link_to 'Back', site_assets_path %>
