<div id="adminmenu">
  <%= link_to 'Settings', settings_path if can? :read, Setting %>
  <%= link_to 'Utilizadores', users_path if can? :index, User %>
  <%= link_to 'Cursos', degrees_path if can? :index, Degree %>
  <%= link_to 'Empresas', companies_path if can? :index, Company %>
  <% if can? :manage, Market %>
      <%= link_to 'Feiras', markets_path %>
  <% else %>
    <% Market.where(active: true).each do |market| %>
        <%= link_to market.name, edit_market_path(market) %>
    <% end %>
  <% end %>
  <%= link_to 'Ofertas de Emprego', job_offers_path if can? :index, JobOffer %>
</div>
