<footer>
    <p>Desenvolvido por
        <span><%= link_to 'BlatStudio - Outsourcing Creativity', 'https://blatstudio.com', target: :_blank %></span>
        <span class="show-for-small-only"><br></span>
        <span class="show-for-medium">|</span>
        <span>Todos os direitos reservados <%= link_to ENV["APP_OWNER"], ENV["APP_OWNER_URL"], target: :_blank %></span>
    </p>
</footer>