<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<%= csrf_meta_tags %>
	<%= csp_meta_tag %>

  <% set_meta_tags title: title %>

  <%= display_meta_tags site: Setting.find_by(name: 'Nome').value, reverse: true %>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
	<%= javascript_pack_tag 'application' %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV['GOOGLE_TRACKING_ID'] %>"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
    </script>

</head>
