<header
  id="menubar"
  <%= @market.blank? ? "" : "style=background-image:linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,1)),url(\'#{@market.banner.url.html_safe}\')" %>
  >
  <div class="left">
    <% fa_icon('bars 2x', class: 'show-for-small-only', id: 'menu-toggle') %>
    <%= link_to root_path, id: 'logo' do %>
      <%= image_tag Setting.find_by(name: 'Logo Top').value %>
    <% end %>
  </div>

  <div class="center">
    <h1><%= link_to Setting.find_by(name: 'Nome').value, root_path, class: 'title' %></h1>
    <% if Market.where(active: true).count > 0 %>
      <h1><%= link_to Market.find_by(active: true).name, market_page_path, class: 'title' %></h1>
    <% end %>
  </div>

  <div class="right">
    <% if user_signed_in? %>
      <% if current_user.has_role? :admin or current_user.has_role? :blat %>
        <%= link_to fa_icon('sign-out fw', text: 'Sair'), destroy_user_session_path, method: :delete, class: 'alert' %>
      <% elsif current_user.has_role? :recruiter %>
        <%= link_to fa_icon('sign-out fw', text: 'Sair'), destroy_user_session_path, method: :delete, class: 'alert' %>
      <% else %>
        <%= link_to my_path do %>
          <%= fa_icon('user fw') %>
          <span class="show-for-medium"><%= current_user.name %></span>
        <% end %>
      <% end %>
    <% else %>
      <%= link_to fa_icon('briefcase lg fw', text: 'Submeter Oferta'), new_job_offer_path %>
      <% if controller_name != 'pages' and controller_name != 'job_offers' %>
        <%- if controller_name != 'sessions' %>
          <%= link_to fa_icon('user lg fw', text: 'Entrar'), new_user_session_path %>
        <% end -%>
        <%- if controller_name != 'registrations' %>
          <%= link_to fa_icon('sign-in lg fw', text: 'Registar'), new_user_registration_path %>
        <% end -%>
        <% link_to fa_icon('lock fw', text: 'Entrar'), new_user_session_path %>
      <% end %>
    <% end %>
  </div>
</header>
