<div id="sidebar">
  <div class="sidebar-container">
    <%= image_tag 'model.jpg'%>

    <ul id='sidemenu' class='vertical menu text-left'>
      <li><%= link_to 'Perfil', current_user %></li>
      <li><%= link_to 'Emprego', job_offers_path %></li>
    </ul>
  </div>

  <ul id='exit' class='vertical menu'>
    <%= link_to fa_icon('lock fw', text: 'Sair'), destroy_user_session_path, method: :delete %>
  </ul>
</div>
