<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/menubar' %>
    <%= render 'layouts/notice' %>

    <div id="adminmenu">
      <ul class="menu expanded">
        <li>
          <%= link_to fa_icon('caret-square-o-down fw', text: 'Curso', right: true), '' %>
          <ul class="submenu">
            <li><%= link_to 'Todos', root_path(search_params.except(:programme)) %></li>
            <% Programme.left_outer_joins(:degree).order('degrees.order', 'degrees.name', :name).each do |programme| %>
              <li><%= link_to programme.full_name, root_path(search_params(programme: programme)) %></li>
            <% end %>
          </ul>
        </li>

        <li>
          <%= link_to fa_icon('caret-square-o-down fw', text: 'Localização', right: true), '' %>
          <ul class="submenu">
            <li><%= link_to 'Todos', root_path(search_params.except(:location)) %></li>
            <% JobOffer.locations.each do |location| %>
              <li><%= link_to location, root_path(search_params(location: location)) %></li>
            <% end %>
          </ul>
        </li>

        <li>
          <%= link_to fa_icon('caret-square-o-down fw', text: 'Contrato', right: true), '' %>
          <ul class="submenu">
            <li><%= link_to 'Todos', root_path(search_params.except(:contract)) %></li>
            <% JobOffer.types_of_contract.each do |contract| %>
              <li><%= link_to contract, root_path(search_params(contract: contract)) %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>

    <div class="page">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>

</html>

