<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/menubar' %>
    <%= render 'layouts/notice' %>

    <div class="page devise">
      <div id="devise">
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>

  </body>

</html>
