<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" /><!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" /><!--<![endif]-->
    <!--[if (gte mso 9)|(IE)]>
    <xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
      body {width: 630px;margin: 0 auto;}
      table {border-collapse: collapse;}
      table, td {mso-table-lspace: 0pt;mso-table-rspace: 0pt;}
      img {-ms-interpolation-mode: bicubic;}
    </style>
    <![endif]-->

    <style type="text/css">
      body, p, div {
        font-family: arial;
        font-size: 14px;
      }
      body {
        color: #000000;
      }
      body a {
        color: #1188E6;
        text-decoration: none;
      }
      p { margin: 0 0 8px 0; padding: 0; }
      table.wrapper {
        width:100% !important;
        table-layout: fixed;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
      }
      img.max-width {
        max-width: 100% !important;
      }
      .column.of-2 {
        width: 50%;
      }
      .column.of-3 {
        width: 33.333%;
      }
      .column.of-4 {
        width: 25%;
      }
      @media screen and (max-width:480px) {
        .preheader .rightColumnContent,
        .footer .rightColumnContent {
            text-align: left !important;
        }
        .preheader .rightColumnContent div,
        .preheader .rightColumnContent span,
        .footer .rightColumnContent div,
        .footer .rightColumnContent span {
          text-align: left !important;
        }
        .preheader .rightColumnContent,
        .preheader .leftColumnContent {
          font-size: 80% !important;
          padding: 5px 0;
        }
        table.wrapper-mobile {
          width: 100% !important;
          table-layout: fixed;
        }
        img.max-width {
          height: auto !important;
          max-width: 480px !important;
        }
        a.bulletproof-button {
          display: block !important;
          width: auto !important;
          font-size: 80%;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
        .columns {
          width: 100% !important;
        }
        .column {
          display: block !important;
          width: 100% !important;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    </style>
    <!--user entered Head Start-->
   
     <!--End Head user entered-->
  </head>
  <body>
    <center class="wrapper" data-link-color="#1188E6" data-body-style="font-size: 14px; font-family: arial; color: #000000; background-color: #eee;">
      <div class="webkit">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper" bgcolor="#eee">
          <tr>
            <td valign="top" bgcolor="#eee" width="100%">
              <table width="100%" role="content-container" class="outer" align="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td width="100%">
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                      <tr>
                        <td>
                          <!--[if mso]>
                          <center>
                          <table><tr><td width="630">
                          <![endif]-->
                          <table width="100%" cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width:630px;" align="center">
                            <tr>
                              <td role="modules-container" style="padding: 15px 15px 15px 15px; color: #000000; text-align: left;" bgcolor="#eee" width="100%" align="left">
                               
    <table class="module preheader preheader-hide" role="module" data-type="preheader" border="0" cellpadding="0" cellspacing="0" width="100%"
           style="display: none !important; mso-hide: all; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">
      <tr>
        <td role="module-content">
          <p></p>
        </td>
      </tr>
    </table>
 
    <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" role="module" data-type="columns">
      <tr>
        <td style="background-color:#ffffff;padding:15px 15px 15px 15px;" bgcolor="#ffffff">
           
      <!--[if mso]>
      <table width="49%" align="left"><tr><td>
      <![endif]-->
      <table style="padding: 0px 0px 0px 0px;"
          align="left"
          valign="top"
          height="100%"
          class="column column-0 of-2 empty">
        <tr>
          <td class="columns--column-content">
           
    <table class="wrapper" role="module" data-type="image" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
      <tr>
        <td style="font-size:6px;line-height:10px;padding:15px 15px 15px 15px;background-color:#ffffff;" valign="top" align="center">
          <img class="max-width" width="199.5" border="0" style="display:block;color:#000000;text-decoration:none;font-family:Helvetica, arial, sans-serif;font-size:16px;max-width:70% !important;width:70%;height:auto !important;" src="https://marketing-image-production.s3.amazonaws.com/uploads/9a89d0c8f292426a1dd23111f609f70efe1e748cadc5ac6acc107fe3a2b9581ed2f5c3280528e586aea6d69e4a3590624007f0ca0feab6093d8d019a2202886c.png" alt="">
        </td>
      </tr>
    </table>
 
          </td>
        </tr>
      </table>
      <!--[if mso]>
      </td></tr></table>
      </center>
      <![endif]-->
   
      <!--[if mso]>
      <table width="49%" align="left"><tr><td>
      <![endif]-->
      <table style="padding: 0px 0px 0px 0px;"
          align="left"
          valign="top"
          height="100%"
          class="column column-1 of-2 empty">
        <tr>
          <td class="columns--column-content">
           
    <table class="wrapper" role="module" data-type="image" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
      <tr>
        <td style="font-size:6px;line-height:10px;padding:15px 15px 15px 15px;background-color:#ffffff;" valign="top" align="center">
          <img class="max-width" width="199.5" border="0" style="display:block;color:#000000;text-decoration:none;font-family:Helvetica, arial, sans-serif;font-size:16px;max-width:70% !important;width:70%;height:auto !important;" src="https://marketing-image-production.s3.amazonaws.com/uploads/17ba9cb7d53016ce7fa7e540f6d56686afca4caeeaffaaf84f4c594c6907ef98a64889da7eb6b18327c9714cfea8fb59611bb83205a031fb2bb71d0c1fea4a73.png" alt="">
        </td>
      </tr>
    </table>
 
          </td>
        </tr>
      </table>
      <!--[if mso]>
      </td></tr></table>
      </center>
      <![endif]-->
   
        </td>
      </tr>
    </table>
 
    <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
      <tr>
        <td style="background-color:#ffffff;padding:15px 15px 15px 15px;text-align:inherit;"
            height="100%"
            valign="top"
            bgcolor="#ffffff">
            <div><%= yield %></div>

        </td>
      </tr>
    </table>
 
    <table class="module"
           role="module"
           data-type="divider"
           border="0"
           cellpadding="0"
           cellspacing="0"
           width="100%"
           style="table-layout: fixed;">
      <tr>
        <td style="padding:15px 15px 15px 15px;background-color:#ffffff;"
            role="module-content"
            height="100%"
            valign="top"
            bgcolor="#ffffff">
          <table border="0"
                 cellpadding="0"
                 cellspacing="0"
                 align="center"
                 width="100%"
                 height="2px"
                 style="line-height:2px; font-size:2px;">
            <tr>
              <td
                style="padding: 0px 0px 2px 0px;"
                bgcolor="#00467f"></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
 
    <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
      <tr>
        <td style="background-color:#ffffff;padding:15px 15px 15px 15px;line-height:10px;text-align:justify;"
            height="100%"
            valign="top"
            bgcolor="#ffffff">
            <p><span style="font-size:10px;">Aviso legal: Esta mensagem &eacute; destinada exclusivamente para a(s) pessoa(s) a quem &eacute; dirigida, podendo conter informa&ccedil;&atilde;o confidencial e legalmente protegida. Se voc&ecirc; n&atilde;o for destinat&aacute;rio desta mensagem, desde j&aacute; fica notificado de abster-se a divulgar, copiar, distribuir, examinar ou, de qualquer forma, utilizar a informa&ccedil;&atilde;o contida nesta mensagem, por ser ilegal. Caso voc&ecirc; tenha recebido esta mensagem por engano, pedimos que responda essa mensagem informando o acontecido.</span></p>

        </td>
      </tr>
    </table>
 
                              </td>
                            </tr>
                          </table>
                          <!--[if mso]>
                          </td></tr></table>
                          </center>
                          <![endif]-->
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </center>
  </body>
</html>
