<!DOCTYPE html>
<html lang="en">
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/menubar' %>
    <%= render 'layouts/notice' %>

    <div class="page no-padding">
      <%= yield %>

      <%= render 'layouts/footer' %>
    </div>
  </body>

</html>
